@model List<ConsultaHorariosModel>;
@{
    ViewData["Title"] = "Listar";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="indexinicio">UTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-action="indexinicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Listar" asp-controller="Edificio">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Listar" asp-controller="ConsultaAulas">Aulas apartadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Insertar" asp-controller="Horarios">Apartar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CerrarSesion" asp-controller="Home">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card col-8">
    <div class="card-header">
        Lista
    </div>
</div>
<div class="card-body">
    <table class="table table-striped bg-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>ClaveDeEmpleado</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>InicioDelApartado</th>
                <th>FinDelApartado</th>
                <th>NumeroEdificio</th>
                <th>NombreAula</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.ID)</td>
                    <td>@Html.DisplayFor(modelItem=>item.ClaveDeEmpleado)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem=>item.InicioDelApartado)</td>
                    <td>@Html.DisplayFor(modelItem=>item.FinDelApartado)</td>
                    <td>@Html.DisplayFor(modelItem=>item.NumeroEdificio)</td>
                    <td>@Html.DisplayFor(modelItem=>item.NombreAula)</td>
                </tr>
            }
        </tbody>
    </table>


</div>