@model List<ConsultaAulasModel>;
@{
    ViewData["Title"] = "Listar";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="indexinicio">UTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-action="indexinicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Listar" asp-controller="Edificio">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Listar" asp-controller="ConsultaAulas">Aulas apartadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Insertar" asp-controller="Horarios">Apartar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CerrarSesion" asp-controller="Home">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card col-8">
    <div class="card-header">
        Lista de apartados
    </div>
</div>
<div class="card-body">
    @*<a asp-action="Insertar" asp-controller="Horarios" class="btn btn-primary btn-sm">Crear Nuevo</a>*@
    <table class="table table-striped bg-white">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Fecha</th>
                <th>Instalacion</th>
                <th>Edificio</th>
                <th>Idhorario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Horainicio</td>
                    <td>@item.HoraoFin</td>
                    <td>@item.Fecha</td>
                    <td>@item.NombreAula</td>
                    <td>@item.NumeroEdificio</td>
                    <td>@item.idhorario</td>

                    
                </tr>

            }
        </tbody>
        <tr>
        <td>
            <a asp-action="Listar" asp-controller="ConsultaHorario" class="btn btn-warning btn-sm">General</a>
        </td>
        </tr>

    </table>
            

</div>